html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: rgb(242, 242, 242);
  text-transform: uppercase;
}

button {
  border: 0;
}

input {
  font-family: inherit;
  border: 0;
}

.container {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.main-navigation {
  height: 56px;
}

.main-navigation ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  line-height: 56px;
  flex-basis: 240px;
  text-align: center;
}

.main-navigation li:nth-child(3) {
  z-index: 1;
}
.main-navigation a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.reason-main {
  text-align: center;
  margin-bottom: 54px;
  margin-top: 50px;
}

.reason-main b {
  font-size: 21px;
}

.reason-main p {
  font-size: 14px;
  padding-top: 18px;
}

.reason-with-picture {
  display: flex;
  height: 258px;
}

.reason-with-picture .reason {
  text-align: center;
  padding: 60px;
  padding-top: 45px;
  background-color: #81b3d2;
  color: white;
}

.reason b {
  font-size: 20px;
}

.reason p {
  font-size: 14px;
  padding-bottom: 10px;
}

.feature {
  display: flex;
}

.feature-item {
  width: 400px;
  min-height: 270px;
  text-align: center;
  padding-top: 60px;
}

.feature-item p {
  padding-top: 10px;
  font-size: 14px;
}

.feature-name {
  font-size: 21px;
}

.reasons {
  display: flex;
  min-height: 255px;
  text-align: center;
  justify-content: space-around;
  background-color: #eeeeee;
}

.reasons .reason {
  padding-top: 43px;
  padding-left: 20px;
  line-height: 21px;
}

.reasons .reason p {
  padding-bottom: 20px;
}
.interested {
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.interested h1 {
  font-size: 30px;
}

.interested p {
  font-size: 14px;
  line-height: 23px;
}

.find-hotels {
  position: relative;
}

.find-hotels-form {
  position: absolute;
  top: 87px;
  left: 316px;
  width: 458px;
  padding: 55px;
  margin: 0 auto;
  background-color: #fff;
}

.find-hotels-form-title {
  width: 568px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 21px;
  font-weight: bold;
  background-color: #766357;
  color: white;
  text-align: center;
}

.find-hotels-form-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}

.find-hotels-form-line:nth-child(3) {
  padding-top: 8px;
}

.find-hotels-form-line:last-of-type {
  margin-bottom: 55px;
}

.find-hotels-form-label {
  flex-shrink: 0;
  margin-right: 20px;
  line-height: 38px;
}

.find-hotels-form-button-group {
  background-color: #f2f2f2;
  margin-top: -10px;
}

.find-hotels-form-input {
  width: 100%;
  padding: 0 10px;
  line-height: 38px;
  background-color: #f2f2f2;
}

input[type="number"] {
  width: 25px;
  background-color: #f2f2f2;
  padding: 10px 0;
  margin: 0 30px;
}

.find-hotels-form-submit-button {
  width: 100%;
  padding: 16px 0;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff;
}

.main-footer {
  display: flex;
  min-height: 122px;
  justify-content: space-around;
}

.footer-visit-sedona {
  width: 240px;
  font-size: 21px;
  padding-top: 60px;
  padding-left: 135px;
}

.footer-social {
  width: 400px;
  padding-top: 52px;
  padding-left: 165px;
}

.social-btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: #81b3d2 url("img/twitter.png") no-repeat center;
}

.social-btn:nth-child(2) {
  background: #81b3d2 url("img/facebook.png") no-repeat center;
}

.social-btn:nth-child(3) {
  background: #81b3d2 url("img/youtube.png") no-repeat center;
}

.footer-copyright {
  display: flex;
  justify-content: space-evenly;
  padding-top: 55px;
  padding-right: 80px;
  font-size: 14px;
  width: 240px;
}
