html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: rgb(242, 242, 242);
  text-transform: uppercase;
}

button {
  border: 0;
}

input {
  font-family: inherit;
  border: 0;
}

.container {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.main-navigation {
  height: 56px;
}

.main-navigation ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  line-height: 56px;
  flex-basis: 240px;
  text-align: center;
}

.main-navigation li:nth-child(3) {
  z-index: 1;
}
.main-navigation a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.reason-main {
  text-align: center;
  margin-bottom: 54px;
  margin-top: 50px;
}

.reason-main b {
  font-size: 21px;
}

.reason-main p {
  font-size: 14px;
  padding-top: 18px;
}

.choice-form {
  display: flex;
  height: 188px;
  color: white;
}

.choice-form h2 {
  font-size: 16px;
  line-height: 21px;
}

.choice-form p {
  font-size: 14px;
}
.choice-form {
  padding: 15px 0;
  padding-left: 80px;
  background-image: url(img/background-2.jpg);
}

.choice-form-column-1 {
  flex-basis: 241px;
  justify-content: center;
}

.choice-form-column-2 {
  flex-basis: 488px;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 34px;
  line-height: 27px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  margin: 0;
  background-size: 23px 23px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-image: url("img/checkbox-off.png");
  -webkit-appearance: none;
  outline: none;
}

.checkbox input[type="checkbox"]:checked {
  background-size: 27px 23px;
  background-image: url("img/checkbox-on.png");
}

.filter-range {
  padding: 14px 0;
  width: 330px;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.reason-with-picture {
  display: flex;
  height: 258px;
}

.reason-with-picture .reason {
  text-align: center;
  padding: 60px;
  padding-top: 45px;
  background-color: #81b3d2;
  color: white;
}

.reason b {
  font-size: 20px;
}

.reason p {
  font-size: 14px;
  padding-bottom: 10px;
}

.results {
  display: flex;
  padding: 0 73px;
  height: 88px;
}

.results b {
  font-size: 21px;
  line-height: 88px;
}

.results .first-column {
  width: 135px;
}

.results .second-column {
  display: flex;
  width: 775px;
  margin-left: 30px;
}

.results .third-column {
  display: flex;
  width: 111px;
}

.results p {
  display: flex;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  align-self: center;
}

.results a {
  display: flex;
  align-self: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  margin-left: 36px;
}

.results img {
  display: flex;
  align-self: center;
  margin-left: 12px;
}

.results img:first-of-type {
  margin-left: auto;
}

.hotels {
  padding: 0 73px;
  border-top: 1px solid #e5e5e5;
}

.hotel {
  display: flex;
  height: 151px;
  justify-content: start;
}

.hotels .first-column {
  margin-top: 30px;
  margin-right: 29px;
}

.hotels .second-column {
  margin: 25px 0;
}

.hotels .second-column p {
  margin: 0;
}

.hotels .second-column button {
  color: white;
}

.hotels .third-column {
  display: flex;
  width: 111px;
  font-size: 14px;
  line-height: 30px;
  color: #666666;
  margin-left: auto;
  padding: 25px 0;
}

.hotels .third-column img {
  display: block;
  margin-left: auto;
}

.hotels .third-column p {
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  width: 111px;
  margin-top: 40px;
}

.hotel img {
}

.hotel-description a {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.hotel-description btn {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.feature {
  display: flex;
}

.feature-item {
  width: 400px;
  padding: 65px 0;
  text-align: center;
}

.feature-item p {
  font-size: 14px;
  padding-top: 10px;
}

.feature-name {
  font-size: 21px;
}

.reasons {
  display: flex;
  min-height: 255px;
  text-align: center;
  justify-content: space-around;
  background-color: #eeeeee;
}

.reasons .reason {
  padding-top: 43px;
  width: 400px;
  line-height: 21px;
}

.reasons .reason p {
  padding-bottom: 20px;
}
.interested {
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.interested h1 {
  font-size: 30px;
}

.interested p {
  font-size: 14px;
  line-height: 23px;
}

.find-hotels {
  position: relative;
}

.find-hotels-form {
  position: absolute;
  top: 87px;
  left: 316px;
  width: 458px;
  padding: 55px;
  margin: 0 auto;
  background-color: #fff;
}

.find-hotels-form-title {
  width: 568px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 21px;
  font-weight: bold;
  background-color: #766357;
  color: white;
  text-align: center;
}

.find-hotels-form-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}

.find-hotels-form-line:nth-child(3) {
  padding-top: 8px;
}

.find-hotels-form-line:last-of-type {
  margin-bottom: 55px;
}

.find-hotels-form-label {
  flex-shrink: 0;
  margin-right: 20px;
  line-height: 38px;
}

.find-hotels-form-button-group {
  background-color: #f2f2f2;
  margin-top: -10px;
}

.find-hotels-form-input {
  width: 100%;
  padding: 0 10px;
  line-height: 38px;
  background-color: #f2f2f2;
}

input[type="number"] {
  width: 25px;
  background-color: #f2f2f2;
  padding: 10px 0;
  margin: 0 30px;
}

.find-hotels-form-submit-button {
  width: 100%;
  padding: 16px 0;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 120px;
}

.footer-visit-sedona {
  flex-basis: 400px;
  font-size: 21px;
  align-self: center;
}

.footer-social {
  flex-basis: 400px;
  align-self: center;
}

.social-btn {
  display: inline-block;
  width: 47px;
  height: 47px;

  background: #81b3d2 url("img/twitter.png") no-repeat center;
}

.social-btn:nth-child(2) {
  background: #81b3d2 url("img/facebook.png") no-repeat center;
}

.social-btn:nth-child(3) {
  background: #81b3d2 url("img/youtube.png") no-repeat center;
}

.footer-copyright {
  display: flex;
  flex-basis: 400px;
  justify-content: center;
  line-height: 26px;
  font-size: 14px;
  align-self: center;
  height: 41px;
}

.footer-copyright p {
  align-self: center;
  padding-right: 5px;
}
