html,
body {
  margin: 0;
  padding: 0;


}
body {
  background-image: url();
  font-family: PT sans;

}

  .container-1 {
  width: 1250px;
  padding: 0 10px;
  margin-left: 40px;


}

.main-navigation {
  margin-left: 25px;
  min-height: 57px;
  width: 1200px;

}

li {
  display: inline-block;
}

.index-logo {
  position: absolute;
  top: 1px;
  right: 608px;
}

.container-pic {
  height: 560px;
  background-image: url(img/background.jpg) no-repeat;
  margin: 0 40px;
}

.welcome {
  position: absolute;
  right: 540px;
  top: 75px;
}

.to-the-gorgeous {
  position: absolute;
  right: 545px;
  top: 130px;
}

.stick-gorgeous {
  position: absolute;
  right: 506px;
  top: 130px;
}

.sedona {
  position: absolute;
  right: 405px;
  top: 214px;
}

.grand-canyon-sucks {
  position: absolute;
  right: 488px;
  top: 347px;
}

.reasons-main {
  margin: 0 40px;
  padding-top: 5px;
  text-align: center;
  font-family: PT sans;
  text-transform: uppercase;
}

.reasons-main b {
  font-size: 21px;
}
.reasons-main p {
  margin: 0 40px;
  padding-top: 25px;
}

.reasons {
  margin: 0 40px;
}
.reasons-item-1 {
  text-align: center;
  width: 395px;
  height: 255px;
  margin-top: 60px;
  margin-left: 35px;
  padding-left: 5px;
}

.reasons-pic-1 {
  position: absolute;
  height: 255px;
  width: 800px;
  top: 0px;
  right: 35px;
}

.features {

  margin: 0 40px;

}

.features-item {
  display: inline-block;
  width: 420px;
  vertical-align: top;
  height: 334px;
  text-align: center;
}















---------------------Сетка-----------------------------
body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}
